:root{
  --corPrincipal: #000035;
  --corSecundaria: #4846ff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.container-index{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-name{
  width: 200px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid var(--corPrincipal);
  margin-top: 10px;
}

.btn-submit{
  width: 84px;
  height: 42px;
  border: none;
  border-radius: 5px;
  background-color: var(--corPrincipal);
  color: white;
  font-weight: bold; 
  margin-top: 10px;
  cursor: pointer;
}

.errorMessage{
  color: red;
  text-align: center;
  margin: 20px 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 1280px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
